@charset "UTF-8";

@font-face {
	font-family: 'StMarieWebThin';
	src: url('../fonts/stmarie-thin_web-webfont.otf');
	src: url('../fonts/stmarie-thin_web-webfont.eot');
	src: url('../fonts/stmarie-thin_web-webfont.woff') format('woff'), url('../fonts/stmarie-thin_web-webfont.svg#webfontHNmhr3jr') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Absolut';
	src: url('../fonts/Absolut_Pro_LightCondensed.otf');
	src: url('../fonts/Absolut_Pro_LightCondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AbsolutItalic';
	src: url('../fonts/Absolut_Pro_Light_Italic_reduced.otf');
	src: url('../fonts/Absolut_Pro_Light_Italic_reduced.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.otf');
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	src: url('../fonts/MyriadPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}